*.psd
*.meta
# *.unity
*.userprefs
*.clip

# dirs we shouldn't commit
WinProto/
WebGLBuild/
ProjectSettings/
obj/
Library/
Temp/
.vs/

Assets/Audio/8-bit-sound-effects-library - littlerobotsoundfactory
*.mp3
